@using KJ.Portfolio.Web.Ui.Models.Entities
@model PortfolioCategory

<div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h5 class="mb-0">Yeni Kategori Ekle</h5>
        <a class="btn btn-primary float-end" asp-action="Index">Geri</a>
    </div>
    <div class="card-body">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly" style="color:red;"></div>

            <div class="mb-6">
                <label class="form-label" asp-for="Name"></label>
                <input class="form-control" asp-for="Name" type="text" />
                <span asp-validation-for="Name" style="color:red;"></span>
            </div>


            <button type="submit" class="btn btn-primary">Kaydet</button>
        </form>
    </div>
</div>